<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style/style.css">
</head>
<body>
    <footer>
        <div class="parentFooter">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.7433764885!2d72.87168217520866!3d19.206407782025174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b737d9c491f9%3A0xc359a4ee309f2e33!2sJacob%20Classes!5e0!3m2!1sen!2sin!4v1749825222918!5m2!1sen!2sin" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="contactInfo">
                <div class="Contact">
                    <div class="subtitle">Contact Us</div> 
                    <div id="subSubtitle">
                        <p><a href="tel:+4733378901">Phone Number: +91 333 728 9201</a></p>
                    </div>
                </div>
                <div class="Address">
                    <div class="subtitle">Mumbai</div>
                    <div id="subSubtitle">
                        Jacob Coaching Classes
                        102 SV Road, 3rd Floor,Andheri West, Mumbai, MH 400058
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>