body{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
.header{
    width: 100%;
    height: 100px;
    background-color: #911A46;
    padding-top: 10px;
}
.logo{
    width: 80px;
    height: 80px;
    background-image: url('../images/logo.png');
    background-size: cover;  
    border-radius: 20%;
    border: 1px solid black;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

footer{
    width: 100%;
    height: 50%;
    background-color: #911A46;
    background-image: linear-gradient(#911A46, #6B4B76);
    position: fixed;
    bottom: 0;
}
.parentFooter{
    display: flex;
    margin: 50px;

}
.contactInfo{
    width: 50%;
    color: white;
    font-size: 20px;
    margin-left: 15%;
    display: flex;
    align-items: center;
}
.Contact{
    padding-right: 100px;
}

.navbar {
  background-color: #8b153f; /* Your header color */
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
}

.btn {
  color: #8b153f;
  padding: 6px 10px;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
}
.navdiv {
  display: flex;
  justify-content: flex-end; /* Push items to the right */
}

